/*
Tähän tiedostoon tulee koko sovellusta koskevat ("universaalit") tai
useassa komponentissa tarvittavat tyylisäännöt. Yksittäisten komponenttien
tyylisäännöt ovat styles-hakemistossa omissa tiedostoissaan.
*/

/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2');
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url(./assets/fonts/Roboto-Bold.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Verdana', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
input {
  font-family: 'Roboto', 'Helvetica', 'Verdana', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Käytettävyyden vuoksi on hyvä, että ikonit ovat buttoneita, ja koska buttonit
eivät näytä aina hyviltä, jotkin niistä on laitettava näkymättömiksi siten, että
niiden päälle laitettu kuva on näkyvä.
*/
.buttonInvisible {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
}

.buttonInvisible p {
  margin: 0px;
  text-align: left;
}

.width100 {
  width: 100%;
}

.container {
  margin: 80px 20px;
  z-index: 3;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  position: relative;
  top: 0px;
  margin: 25px auto 15px auto;
  z-index: -1;
}

.invisibleDivider {
  height: 35px;
}

/* 
Sovelluksen pääväri. Kun tämän classin laittaa kaikkiin niihin elementteihin, joissa
taustaväri on tämä väri, niitä kaikkia voidaan muuttaa vaihtamalla vain tätä.
*/
.backgroundMainColor {
  background-color: #9a4141;
}

.backgroundSecondaryColor {
  background-color: #f3ecec;
}

.textColorSecondary {
  color: #2b2b2b;
}

input {
  font-size: 1.05em;
}

h1,
h2,
h3,
h4 {
  color: #363636;
}

p,
a {
  font-size: 1.2em;
}

@media only screen and (max-width: 379px) {
  p,
  a {
    font-size: 0.95em;
  }
}
