/*
Tähän tiedostoon tulee koko sovellusta koskevat ("universaalit") tai
useassa komponentissa tarvittavat tyylisäännöt. Yksittäisten komponenttien
tyylisäännöt ovat styles-hakemistossa omissa tiedostoissaan.
*/

@import url('http://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Verdana', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Käytettävyyden vuoksi on hyvä, että ikonit ovat buttoneita, ja koska buttonit
eivät näytä aina hyviltä, jotkin niistä on laitettava näkymättömiksi siten, että
niiden päälle laitettu kuva on näkyvä.
*/
.buttonInvisible {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.container {
  margin: 20px;
}

/* 
Sovelluksen pääväri. Kun tämän classin laittaa kaikkiin niihin elementteihin, joissa
taustaväri on tämä väri, niitä kaikkia voidaan muuttaa vaihtamalla vain tätä.
*/
.backgroundMainColor {
  background-color: #9a4141;
}

.textColorSecondary {
  color: #2b2b2b;
}

input {
  font-size: 1.05em;
}

p,
a {
  font-size: 1.2em;
}

@media only screen and (max-width: 379px) {
  p,
  a {
    font-size: 0.95em;
  }
}
