.actionMenuContent {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding-bottom: 50px;
}

.starReviewContainer {
  display: flex;
  justify-content: space-around;
}

.starReviewContainer svg {
  height: 30px;
  width: 30px;
}

.buttonInvisible {
  height: 100%;
}

.buttonInvisible p:active {
  background-color: #f8f8f8;
  backdrop-filter: blur(50px);
  border-radius: 20%;
  box-shadow: 3px 3px 5px #f8f8f8;
}

.twoButtonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.twoButtonsDiv div {
  width: 90%;
  margin: 0px 8px 0px 8px;
}

.actionMenuLink {
  text-decoration: none;
  color: black;
}

.actionMenuLink p {
  font-size: 1em;
}
