.addModalContainer {
  position: fixed;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 450px;
  height: fit-content;
  background-color: white;
  z-index: 95;
  border-radius: 8px;
  text-align: center;
  padding: 25px 15px 30px 15px;
}

.shopListModalHeader {
  margin-bottom: 10px;
}

.shoppingListButton {
  text-align: left;
  margin-bottom: 10px;
  padding: 10px 0px 10px 15px;
}

.shoppingListButton:active {
  background-color: #f8f8f8;
  backdrop-filter: blur(50px);
  border-radius: 20%;
  box-shadow: 3px 3px 5px #f8f8f8;
}

.addToListsContainer {
  max-height: 300px;
  overflow: scroll;
}
