.listRecipeAddContainer {
  max-width: 450px;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  z-index: 95;
  border-radius: 8px;
}

.listRecipeAddContainer h3 {
  text-align: center;
}

.listRecipeAddButton {
  width: 100%;
  margin-bottom: 30px;
}

.addToListsContainer {
  height: 300px;
  overflow: scroll;
}
