.plannerContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.mealPlannerHeader {
  margin: 0px;
}

.weekDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dayDisplay {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
}

.leftArrow {
  display: flex;
  padding: 1em 2em;
}

.rightArrow {
  display: flex;
  padding: 1em 2em;
}

.rightArrow svg,
.leftArrow svg {
  width: 30px;
  height: auto;
}
