.plannerContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.mealPlannerHeader {
  margin: 0px;
  white-space: nowrap;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.weekDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dayDisplay {
  display: flex;
  justify-content: space-between;
}

.dayDisplay button {
  padding: 1px 12px 1px 12px;
}

.leftArrow {
  display: flex;
  padding: 1em 1.5em;
  cursor: pointer;
}

.rightArrow {
  display: flex;
  padding: 1em 1.5em;
  cursor: pointer;
}

.rightArrow svg,
.leftArrow svg {
  width: 30px;
  height: auto;
}
