.plannerContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.mealPlannerHeader {
  margin: 0px;
}

.weekDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dayDisplay {
  display: flex;
  justify-content: space-between;
}

.dayDisplay button {
  padding: 1px 12px 1px 12px;
}

.leftArrow {
  display: flex;
  padding: 1em 2em;
  cursor: pointer;
}

.rightArrow {
  display: flex;
  padding: 1em 2em;
  cursor: pointer;
}

.rightArrow svg,
.leftArrow svg {
  width: 30px;
  height: auto;
}
