.navBarContainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 93;
}

.navigationBar {
  margin: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navBarTitle {
  margin-left: 20px;
  padding-top: 0px;
  height: 70%;
  display: block;
  max-height: 70%;
  height: auto;
  width: auto;
}

.navigationBar p {
  margin: 0;
}

.menuIcon {
  height: 35px;
  margin-right: 10px;
}

.swipeableZoneMenuClosed {
  position: fixed;
  top: 60;
  right: 0;
  height: 100%;
  width: 10%;
  max-width: 400px;
  z-index: 85;
}
