.ownListContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.listInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listInfoText {
  width: 100%;
  overflow: hidden;
}

.listInfoContainer h2 {
  margin-top: 0px;
}

.listInfoContainer svg {
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 10px;
  left: 12px;
}
