.recipeContainer {
  width: 90%;
  height: 100%;
  max-width: 600px;
  margin: auto;
}

.recipeImageContainer {
  width: 100%;
  background: rgb(157, 157, 157);
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content: center;
}

.recipeImage {
  width: 400px;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.recipeTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recipeTitleContainer h2 {
  text-transform: capitalize;
}

.recipeTitleContainer svg {
  position: relative;
  left: 10px;
  width: 35px;
  height: 35px;
}

.recipeTime {
  color: #b1b1b1;
}
