.revipeActionMenuContainer {
  display: flex;
  justify-content: center;
}

.recipeActionMenu {
  width: 100%;
  max-width: 800px;
  height: 75%;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  z-index: 91;
  overflow-y: scroll;
}
