.invalidText {
  color: red;
}

.refDivAbsolute {
  position: absolute;
  top: -200px;
}

.refDivRelative {
  position: relative;
  bottom: 70px;
}

.recipeFormContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textInput {
  background-color: #edebeb;
  border: none;
  height: 30px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.textInput:focus {
  outline: none !important;
  border: 2px solid #9a4141;
  border-radius: 5px;
  margin: -2px;
}

.textInputLarge {
  font-family: inherit;
  font-size: inherit;
  width: 95%;
  overflow: hidden;
  height: auto;
  resize: none;
  overflow-y: hidden;
  box-sizing: border-box;
  padding-bottom: 0px;
  border-radius: 5px;
}

.submitButtonContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.ingredientInputTable {
  width: 100%;
  table-layout: fixed;
  margin: auto;
}

.tableHeaders th {
  text-align: left;
}

.tableInput {
  background-color: #edebeb;
  border: none;
  height: 30px;
  width: 90%;
  border-radius: 5px;
}

.tableInput:focus {
  outline: none !important;
  border: 2px solid #9a4141;
  border-radius: 5px;
  margin: -2px;
}

.ingredientRow {
  margin: 15px;
}

.ingredientNameInput {
  width: 96%;
}

.ingredientAmountInput {
  width: 90%;
}

.ingredientMeasureInput {
  width: 90%;
  border-radius: 5px;
}

.ingredientRemoveButtonContainer {
  position: relative;
  color: #7c7c7c;
  z-index: 4;
}

.ingredientRemoveButton:hover {
  cursor: pointer;
}

.ingredientRemoveButton {
  font-size: 1.2em;
  position: absolute;
  left: 100%;
  top: -50px;
}

.slider {
  width: 100%;
}

.timeHeader {
  display: flex;
  justify-content: space-between;
}

.timeText {
  color: #7c7c7c;
  font-size: 0.8em;
}

.mealCount {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mealCountCounter {
  border: 2px solid #b4b4b4;
  border-radius: 5px;
  padding: 10px;
}

.mealCountCounter span {
  padding: 15px;
  font-size: 1.2em;
}

.mealCountCounter span {
  padding: 15px;
  font-size: 1.2em;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.mealCountCounter span:nth-child(odd):hover {
  cursor: pointer;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 1.12em;
}

.checkbox {
  margin: 5px 0px 5px 0px;
}

.checkbox input {
  position: absolute;
  accent-color: #414141;
  width: 0.85em;
  height: 0.85em;
  z-index: -1;
}

.checkbox label {
  text-transform: capitalize;
  display: inline-block;
  margin-left: 1.5em;
}

.publicity {
  margin-bottom: 10px;
}

.radioButtons div {
  font-size: 1.12em;
  margin: 0px 50px 20px -5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radioButtons div input {
  accent-color: #414141;
  width: 1em;
  height: 1em;
}

.radioButtons div label {
  margin-left: 10px;
  padding: 5px;
}
