.recipeFullContainer {
  z-index: 3;
}

.recipeContainer {
  width: 95%;
  height: 100%;
  max-width: 600px;
  margin: auto;
  z-index: 3;
}

.recipeImageContainer {
  width: 100%;
  background: rgb(157, 157, 157);
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content: center;
}

.recipeImage {
  width: 400px;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.recipeTitleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
}

.textNoWrap {
  white-space: nowrap;
}

.recipeTitleContainer h2 {
  text-transform: capitalize;
}

.recipeTitleContainer svg {
  width: 50px;
  height: 35px;
  position: relative;
  left: 22px;
  z-index: 90;
}

.ingredientsTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mealCountButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 90;
}

.mealCountButtons div svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  fill: #3f3f3f;
}

.mealCountButtons div svg:active {
  fill: #1b1b1b;
  background-color: #0000002d;
  border-radius: 100%;
}

.directionsContainer p {
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.ingredientRowDiv {
  display: flex;
  flex-direction: row;
}

.ingredientRowDiv p {
  margin: 0px 0px 7px 0.2em;
}

.ingredientsTableRow p {
  margin: 0px 0px 4px 0px;
  text-align: right;
}

.ingredientsTableSecondColumn p {
  text-align: left;
  margin-left: 15px;
}

.ingredientsTableFirstColumn {
  white-space: nowrap;
}
