.searchBarContainer {
  width: 98.5%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.searchBar {
  background-color: #edebeb;
  border: none;
  height: 100%;
  width: 80%;
  margin: -2px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1.5px solid #adadad;
}

.searchBar:focus {
  outline: none !important;
  margin: -2px;
}

.filterButton {
  border: 1.5px solid #adadad;
  height: 100%;
  width: 15%;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
}
