.shoppingListContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.shopListHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopListHeaderContainer svg {
  width: 50px;
  height: 35px;
  position: relative;
  left: 22px;
  z-index: 90;
}
