.sideMenuContent {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.sideMenuLink {
  margin-bottom: 25px;
}

.sideMenuLink a {
  margin-left: 10%;
  text-decoration: none;
  color: black;
}

.sideMenuLink svg {
  position: relative;
  top: 9px;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.sideMenuDivider {
  position: relative;
  bottom: 5px;
  width: 90%;
  background-color: rgb(177, 177, 177);
  height: 1px;
  margin: 10px auto 10px auto;
}
