.sideMenuContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.sideMenuLink {
  margin-bottom: 25px;
  width: 100%;
}

.sideMenuLink a {
  margin-left: 10%;
  text-decoration: none;
  color: black;
}

.sideMenuLink a:first-child {
  margin-top: 20px;
}

.sideMenuLinkText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sideMenuLink svg,
.loginContainer svg {
  position: relative;
  width: 30px;
  height: 30px;
  padding-right: 8px;
}

.sideMenuDivider {
  position: relative;
  bottom: 0px;
  width: 87%;
  background-color: #dbdbdb;
  height: 1px;
  margin: 10px auto 10px auto;
}

.loginContainer {
  background-color: #f0f0f0;
  width: 100%;
  height: fit-content;
  padding-bottom: 50px;
}

.loginContainer a {
  margin-top: 30px;
  margin-left: 10%;
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.loginLink {
  position: relative;
  right: 5px;
}

.loginLink svg {
  margin-right: 4px;
}

.userLink {
  position: relative;
  top: 7px;
}
