.sideMenuContent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.sideMenuLink {
  margin-bottom: 25px;
  width: 100%;
}

.sideMenuLink a {
  margin-left: 10%;
  text-decoration: none;
  color: black;
}

.sideMenuLinkText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sideMenuLink svg {
  position: relative;
  width: 30px;
  height: 30px;
  padding-right: 8px;
}

.sideMenuDivider {
  position: relative;
  bottom: 8px;
  width: 90%;
  background-color: rgb(177, 177, 177);
  height: 1px;
  margin: 10px auto 10px auto;
}
