.formHeader {
  margin-bottom: 10px;
}

.accountFormContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  padding: 0px 0px 15px 30px;
}

.accountFormRow {
  width: 80%;
  max-width: 500px;
}

.accountFormRow p {
  color: #1f1f1f;
  margin: 10px 0px 5px 0px;
}

.accountFormRow input {
  width: 100%;
  background-color: #edebeb;
  border: none;
  height: 30px;
  border-radius: 5px;
}

.accountFormRow input:focus {
  outline: none !important;
  border: 2px solid #9a4141;
  border-radius: 5px;
  margin: -2px;
}

.accountFormSubmitButton {
  margin-top: 15px;
  width: 81%;
  max-width: 500px;
}

.inputLabelError {
  color: #e0383a !important;
}

.inputError {
  border: 2px solid #e0383a !important;
  margin: -2px;
}

.errorMessage {
  width: 90%;
  max-width: 600px;
  color: #e0383a;
}

.asterix {
  color: #bebebe;
}

.formInfoText {
  font-size: 1.1em;
  color: #363636;
}

.loginPageLinkContainer {
  margin-top: 10px;
}

.loginPageLink {
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

.loginPageLink:active {
  color: #555555;
}

.loginPageLink:visited {
  color: #999999;
}

.userAgreementContainer {
  color: #1f1f1f;
  margin-top: 20px;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.agreementText {
  margin-left: 2px;
}

.userAgreementContainer input {
  accent-color: #414141;
  width: 0.85em;
  height: 0.85em;
  z-index: 90;
}

.agreementLink {
  text-decoration: underline;
  color: #9a4141;
  cursor: pointer;
}

.userAgreementPageModal {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 91;
}

.userAgreementPageContainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
}
